::-webkit-scrollbar{
    width: 5px;   
}
::-webkit-scrollbar-track{
    background: white;
}
::-webkit-scrollbar-thumb{
    background:coral;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.main-btn{
    display: inline-block;
    border-radius: 50px;
    padding: 10px 20px;
    background-color: transparent;
    border: 3px solid #fd4766;
    color:#fd4766 ;
    margin-top: 15px;
    font-weight: bold;
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
}
.main-btn:hover{
    background: #fd4766;
    border-color: #fd4766;
    color: white;
}
.rowe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.shadow{
    margin-top:10%;
    background: #e9e9eb;
    opacity: 0.8;
}
body{
    background: url(/img/Signup.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.form-control{
    border: none;
    border-bottom: 2px solid #fd4766;
    background-color: transparent;
}
.form-control:focus{
    box-shadow: none;
    border-bottom: 2px solid #fd4766;
}
.form-control:hover{
    border: 2px solid #fd4766;
    box-shadow: 1px 2px 10px #fd4766;
}
.forgot{
    color: rgb(97, 39, 39);
}
.sign{
    color: #fd4766;
    text-decoration: none;
}
.sign:hover{
    text-decoration: underline;
}
.fab{
    color:rgb(153, 108, 92) ;
    border: 1px solid rgb(255, 223, 211) ;
    border-radius: 5px;
    padding: 5px;
    background: #fff;
}
.fab:hover{
    box-shadow: 5px 5px 10px;
    transform: translate(2px);
    cursor: pointer;
    transition: transform 0.65s cubic-bezier(0.05, 0.2, 0.1, 1);
}
@media screen and (max-width:768px){
   .shadow{
    width: 80%;
   } 
}