::-webkit-scrollbar{
    width: 5px; 
}
::-webkit-scrollbar-track{
    background: white;
}
::-webkit-scrollbar-thumb{
    background:coral;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.logo{
    width: 100px;
}
nav{
    background-color: rgb(255, 223, 211);
}
nav a:hover{
    border-bottom: 1px solid coral;
    color: wheat;
}
.bed,.jardin,.kitchen{
    width: 100%;
    height: 16rem;
    
}
.produit{
    background-color: rgb(254, 247, 237);
}
.cart{
    background-color:#ed96c1;
}
.card:hover{
    box-shadow: 5px 5px 10px;
    transform: translate(5px);
    cursor: pointer;
    transition: transform 0.65s cubic-bezier(0.05, 0.2, 0.1, 1);
}
.cart2{
    background-color:indianred;
}
.fab{
    color:rgb(153, 108, 92) ;
    border: 1px solid rgb(255, 223, 211) ;
    border-radius: 5px;
    padding: 5px;
    background: #fff;
}
.fab:hover{
    box-shadow: 5px 5px 10px;
    transform: translate(2px);
    cursor: pointer;
    transition: transform 0.65s cubic-bezier(0.05, 0.2, 0.1, 1);
}
footer{
    background:rgb(255, 223, 211) ;
}