::-webkit-scrollbar{
    width: 5px;   
}
::-webkit-scrollbar-track{
    background: white;
}
::-webkit-scrollbar-thumb{
    background:coral;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.logo{
    width: 100px;
}
nav{
    background-color: rgb(255, 223, 211);
}
nav a:hover{
    border-bottom: 1px solid coral;
    color: wheat;
}
header{
    background-image: url(/img/header.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.welcome{
    margin-top: 3em;
    margin-bottom: 1.5em;
    font-size: 3em;
    font-weight: bold;
    color: #fff;
}
.disc{
    font-size: 2em;
    font-weight: 400;
    color: #fff;
    font-style: italic;
    margin: 2em 0;
}
.fa-star{
    color: rgb(255, 255, 73);
    width: 5px;
    margin: 6px;
}
.popular::before,.temoin::before{
    margin: 0 auto;
    content: '';
    display: block;
    width: 100px;
    height: 20px;
    background: coral;
    border-radius: 20px;
}
.card:hover{
    transform: translate(5px);
    cursor: pointer;
    transition: transform 0.65s cubic-bezier(0.05, 0.2, 0.1, 1);
}
footer{
    background:rgb(255, 223, 211) ;
}
.fab{
    color:rgb(153, 108, 92) ;
    border: 1px solid rgb(255, 223, 211) ;
    border-radius: 5px;
    padding: 5px;
    background: #fff;
}
.fab:hover{
    box-shadow: 5px 5px 10px;
    transform: translate(2px);
    cursor: pointer;
    transition: transform 0.65s cubic-bezier(0.05, 0.2, 0.1, 1);
}
