::-webkit-scrollbar{
    width: 5px;   
}
::-webkit-scrollbar-track{
    background: white;
}
::-webkit-scrollbar-thumb{
    background:coral;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.logo{
    width: 100px;
}
nav{
    background-color: rgb(255, 223, 211);
}
nav a:hover{
    border-bottom: 1px solid coral;
    color: wheat;
}
.fa-star{
    color: rgb(255, 255, 73);
    width: 10px;
    margin: 6px;
}
footer{
    background:rgb(255, 223, 211) ;
}
.ul li{
    list-style-type:circle;
}
.fab{
    color:rgb(153, 108, 92) ;
    border: 1px solid rgb(255, 223, 211) ;
    border-radius: 5px;
    padding: 5px;
    background: #fff;
}
.fab:hover{
    box-shadow: 5px 5px 10px;
    transform: translate(2px);
    cursor: pointer;
    transition: transform 0.65s cubic-bezier(0.05, 0.2, 0.1, 1);
}
@media screen and (max-width:768px){
    .row{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .d-flex{
        display: flex;
        flex-direction: column;
        gap: 5px;
        align-items: center;
        justify-content: center;
    }
 }